.about-container{
    margin: 5%;
}


@media screen and (min-width:740px){
}

@media screen and (min-width:1020px){
    .about-container{
        display: grid;
        grid-template-columns: auto auto;
        margin: 5% 10%;
        padding: 14px;
    }

    div img{
        margin: auto 14px;
    }

}