/* Fonts imported from www.fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');/* font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap'); /* font-family: 'Tenor Sans', sans-serif;*/

html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

header{
    margin:auto;
}

nav{
    display: block;
    font-family:'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: #faf0e3;
    display: flex;
	flex-direction: column;
}

a{
    text-decoration:none;
    color: #493656;
    padding: 16px;
}

a:hover{
    color: #9097c1;
    transform: translate(0, -10px); transition: 0.5s; 
}

/*Gives a value of -1 to the logo so it will be the first item of the nav*/
nav img{
    display: block;
    margin: auto;
    max-width: 20%;
    order: -1;
}

h1{
    font-family: 'Tenor Sans', sans-serif;
    display:block;
    background-color: #493656;
    color: #fff;
    font-size: 32px;
    margin: auto;
    padding: 52px 0;
    text-align: center;
}

/* Uses class .h1 to style just the heading 1 of the home page because it is different then the other pages*/
.h1{
    background-color: initial;
    color: #493656;
    text-align: left;

}

h2{
    color: #493656;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 6px auto 20px;
}

h3{
    color: #493656;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 6px auto 20px;
}

h4{
    font-weight: bold;
    text-transform: uppercase;
    margin: 6px auto;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #493656;
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 1.5;
}

/*Uses class=.purple to style only the background color in the home page and leave the other pages as a white background color*/
.purple{
    background-color: #493656;
    padding-bottom: 5%;

}
.container-grid{
    background-color: #acc697;
    padding: 32px 32px 0;
    margin: 5% 15% 0;
}

main img{
    max-width: 100%;
}

footer{
    padding: 5% 10%;
    background-color: #faf0e3;
    color: #493656;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

footer p{
    font-size: 14px;
    margin: 0;
}

footer div{
    margin-top: 14px;
    text-align: center;
}

footer li{
    margin-top: 6px;
}

.icons img{
    width: 30px;
    height: auto;
    margin: 12px;
}

/*This is the specific styles for the products page using classes to specify styles that shouldn't interfer in other pages*/
.container{
    padding: 5%;
    margin: 16px auto;
    background-color: #fdf9f3;
    border-radius: 10px;
}

.container img{
    max-width: 100%;
    margin: auto;

} 

.grid{
    background-color: white;
    margin: auto;
    grid-gap: 16px;
    padding: 20px 5%;
}

.about-container{
    margin: 5%;
    padding: 14px;
}


@media screen and (min-width:740px){
    nav{
        flex-direction: row;
        padding: 0 10%;
        align-items: center; /* Decided to use this property instead of baseline because the navigation bar looked better with the contect centered*/
        justify-content: space-evenly;
    }

    nav img{
        margin: 5px 0;
        width: 170px;
        order:0;
    }

    footer{
        display: flex;
        justify-content: space-evenly;
        padding: 14px 5%;

    } 

    .icon img{
        margin: 0 auto;
    }

    footer div {
        margin-top: 0;
        text-align: left;
    }
    
    /*Creates a 3 columns grid in the products page to fit 3 cards next each order */
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1020px){
    /*Creates a  2 colunm grid in the home page to fit the image beside the heading and paragraph*/
    .container-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 5%;
    }

    h1{
        font-size: 48px;
    }

    a{
        font-size: 20px;
    }

    .grid{
        padding: 22px 10%;
    }

    /*Uses class to style container in about page which has a different style then the others pages*/
    .about-container{
        display: grid;
        grid-template-columns: auto auto;
        margin: 5% 10%;
    }

    div img{
        margin: auto 14px;
    }
}

