/* Fonts imported from www.fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');/* font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap'); /* font-family: 'Tenor Sans', sans-serif;*/


html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

/* Purple: #493656
Light Purple: #9097c1
beige: #edb169
light beige: #faf0e3   #fadcbf 
Dark green: #acc697
Light green :#c6dda5*/

/* MOBILE DEVICES*/

header{
    margin:auto;
}

nav{
    display: block;
    font-family:'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: #faf0e3;
    display: flex;
	flex-direction: column;
}

a{
    text-decoration:none;
    color: #493656;
    padding: 16px;
}


a:hover{
    color: #9097c1;
    transform: translate(0, -10px); transition: 0.5s; 
}


nav img{
    display: block;
    margin: auto;
    max-width: 20%;
    order: -1;
}

h1{
    display:block;
    background-color: #493656;
    color: #fff;
    font-size: 32px;
    margin: auto;
    padding: 52px 0;
    text-align: center;
}

/* Uses class to style just the h1 in the home page because it is different the other pages*/
.h1{
    background-color: initial;
    color: #493656;
    text-align: left;

}

h2{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 6px auto;
}

h3{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 6px auto;
}

h4{
    font-weight: bold;
    text-transform: uppercase;
    margin: 6px auto;
}

p{
    color: #493656;
    font-size: 18px;
    margin-bottom: 14px;
    line-height: 1.3;
}

/*Uses class=.purple to style only the background color in the home page*/
.purple{
    background-color: #493656;

}

.container-grid{
    background-color: #acc697;
    padding: 32px 32px 0;
    margin: 5% 15% 0;
}

main img{
    max-width: 100%;
}

footer{
    padding:10%;
    background-color: #faf0e3;
    color: #493656;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

footer p{
    font-size: 14px;
    margin: 6px auto;
}

/*Styles products page*/

.container{
    padding: 5%;
    margin: 5%;
    background-color: #fdf9f3;
    border-radius: 10px;
}

.container img{
    width: 20%;
    margin: auto;
}

.grid{
    background-color: white;
    margin:auto;
    padding: 20px 5%;
}


@media screen and (min-width:740px){
    nav{
        flex-direction: row;
        padding: 0 10%;
        align-items: center;
        justify-content: space-around;
    }

    nav img{
        margin: 5px 0;
        width: 170px;
        order:0;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 14px 5%;

    }
    
    /*Creates a 3 columns grid in the products page to fit 3 cards next each order */
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1020px){
    .container-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 5%;
    }

    h1{
        font-size: 48px;
    }

    a{
        font-size: 20px;
    }

    .grid{
        padding: 22px 10%;
    }
}

