/* Fonts imported from www.fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* font-family: 'Montserrat', sans-serif;*/


/* Resets default CSS style 

    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Sets the box-sizing for every element on the page*/
html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

/*Mobile version for divices up to 740px wide*/

body{
	background-color: #f7f7ff;
	font-family:'Montserrat', sans-serif;
	font-size: 100%;
}

header,
main{
	margin: auto 38px;
}

header img{
	max-width: 120px;
	height: auto;
	margin: 8px auto;
}

h1{
    font-size: 60px;
	font-weight: bold;
	line-height: 1.2;
    margin: 14px auto;
}

h2{
    font-size: 40px;
	font-weight: bold;
}

p{
	margin:14px auto;
	line-height: 1.2;
}

.title p{
	font-size: 24px;
}

/*Specificity (0,1,0) so only labels with the class "label" will display none*/
.label{
	display: none;
}

main form{
    background-color: white;
    padding: 24px;
	margin: 45px auto;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	border-radius: 25px;
}

/*Specificity (0,1,0) so only input tags with the class "apply-form-input" will be styled*/
.apply-form-input{
	margin: 7px auto;
	background-color: #f4f4f5;
	border: none;
	padding: 14px 12px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	width:100% ;
}

button{
    text-transform: uppercase;
	font-weight: bold;
	border-radius: 10px;
	width: 100%;
	font-size: 24px;
	border: none;
    background-color: #57eeab;
    padding: 8px 0px;
	margin-top:14px;
}

.checkbox{
	width: 24px;
	height: 24px;
}

footer{
    background-color: #fffd8c;
}

footer div{
	padding:12px 38px 20px;
}

footer input{
	border: none;
	background-color: #f4f4f5;
	border-radius: 10px;
	padding: 8px; 
	margin: 6px auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.bold{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 16px;
}

.footer-form{ 
	display: flex;
	flex-wrap: wrap;
}

.hours{
	width: 25%;
}

.city{
	width: calc(75% - 16px);
}

.calculate{
	background-color: #ff8480;
	padding: 4px 0px;
	margin: 6px auto 30px;
	color: white;
}

.icons{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.facebook{
	border-radius: 100%;
}

@media screen and (min-width:740px){



}

@media screen and (min-width:1023px){


}

