/* Fonts imported from www.fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* font-family: 'Montserrat', sans-serif;*/


/* Resets default CSS style 

    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Sets the box-sizing for every element on the page*/
html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

/*Mobile version for divices up to 740px wide*/

body{
	background-color: #f7f7ff;
	font-family:'Montserrat', sans-serif;
	font-size: 100%;
}

header,
main{
	margin: auto 38px;
}

header img{
	max-width: 120px;
	height: auto;
	margin: 8px auto;
}

h1{
    font-size: 60px;
	font-weight: bold;
	line-height: 1.2;
    margin: 14px auto;
}

h2{
    font-size: 40px;
	font-weight: bold;
}

p{	
	font-size: 16px;
	line-height: 1.2;
}


.title p{
	font-size: 24px;
}


.short-text{
	font-size: 16px;
	margin: 18px auto 7px;
}

.long-text{
	display: none;
}

a{
	color: #ff8480;
}

/*Specificity (0,1,0) to hide only labels with the "label" class*/
.label{
	display: none;
}

main form{
    background-color: white;
    padding: 24px;
	margin: 45px auto;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	border-radius: 25px;
}

/*Specificity (0,1,0) to style only input tags with the "apply-form-input" class*/
.apply-form-input{
	margin: 7px auto;
	background-color: #f4f4f5;
	border: none;
	padding: 14px 12px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	width:100% ;
}

button{
    text-transform: uppercase;
	font-weight: bold;
	border-radius: 10px;
	width: 100%;
	font-size: 24px;
	border: none;
    background-color: #57eeab;
    padding: 8px 0px;
	margin: 14px 0px;
}

.checkbox{
	width: 20px;
	height: 20px;
}

footer{
    background-color: #fffd8c;
}

div.footer{
	padding:12px 38px 20px;
}

footer input{
	border: none;
	background-color: #f4f4f5;
	border-radius: 10px;
	padding: 10px; 
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

/* Uses specificity (0, 1, 0) to change only the paragraph with class "bold" to bold*/
.bold{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 16px;
}

.footer-form{ 
	display: flex;
	flex-wrap: wrap;
	margin: 15px 0px;
}

.hours{
	width: 25%;
} 

.city{ /*Uses calc to remove margin's pixels between items and fit them into 1 row*/
	width: calc(75% - 12px);  
	margin-left: 12px;
} 

footer button{
	background-color: #ff8480;
	padding: 4px 0px;
	color: white;
}

/* Uses flexbox Layout to create a row, order the items and space them equally*/
.icons{
	max-width: 300px;
	display: flex;
	justify-content: space-around;
	margin: auto;
}

/* Uses the border-radius 100% to create a circle around the icon to match the mock-up*/
.facebook{
	border-radius: 100%;
}

@media screen and (min-width:740px){
	header,
	main
		{
		margin: auto 82px;
	}

	div.footer{
		margin: auto 82px;
		padding: 20px 0px;
	}

	h1{
		font-size: 80px;
	}
	
	.short-text{
		font-size: 30px;
		margin-top: 26px;
	}

	p{
		font-size: 16px;
	}

	main form{
		padding:40px;
	}

	/* Uses flex properties and nth-child to change element's order in the form*/ 
	.apply-form{
		display: flex;
		flex-direction: column;
	}

	.apply-form div:nth-child(3){
		order: 4;
	}

	/* Uses percentages to create a responsive box and fit all items in a 1 row*/
	.calculate{
		margin: 0px auto;
		width: 30%;
	}

	.city{
		width: 40%;
	}
}

@media screen and (min-width:1300px){
	
	.short-text{
		display: none;
	}

	.long-text{
		display: inline-block;
		font-size: 24px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	header{
		margin: auto 140px;
	}
	
	/* hides main image to add it as a background image do the desktop version*/
	main img{
		display:none;
	}

	/* Uses grid to create a evenly spaced 3 column layout*/
	main{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		background-image: url(..//images/bg-image/scooter.svg);
		background-repeat: no-repeat;
		background-position: center;
		margin: 50px 140px;
	}

	.form{
		grid-column: 3/4;
		max-width: 530px;
		justify-self: end;
	}

	.title p{
		margin-top: 42px;
	}

	div.footer{
		margin: auto 140px;
	}

	.footer{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-form{
		max-width: 650px;
	}

	.icons{
		margin: auto 0px;
		justify-self: end;
	} 

	.icons img {
		margin-left: 3rem;
	}

	/* Uses order property to increase the value of the items and change its order */
	.icons img:nth-child(1){
		order: 1;
	}

	.icons img:nth-child(4){
		order:2;
	}

	/* Uses border-radius 0% to remove the circle around the icon and return it to the orignial border*/ 
	.facebook{
		border-radius: 0%;
	}
}

